extends layout

block content
	h1 Handlebars Search Engine

	form(name="searchForm")
		input(type="text" name="searchItem" class="searchItem")
		input(type="submit" class="btn btn-primary" id="searchButton")

	div#results
		h1 Results

		//- Handlebars Template for Results DIV
		script#results-tpl(type='text/x-handlebars-template').
			<p>{{lang}}: {{desc}}</p>
