doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Handlebars Search Engine
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

	body
		.container
			block content

		//- Include Handlebars script source
		script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")

		